<h2 value="123"></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hawaiian</td>
      <td>This is Hawaiian pizza</td>
      <td>350 RUB</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pepperoni</td>
      <td>Nice Pepperoni pizza</td>
      <td>450 RUB</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Vegetarian</td>
      <td>Amazing Vegetarian pizza</td>
      <td>400 RUB</td>
    </tr>
	<tr>
      <td colspan="2"></td>
      <td >
	  	<div style="float:right; width:15%;"><b>Total:</b></div>
	  </td>
	  <td><b>1200 RUB</b></td>
    </tr>
  </tbody>
</table>

<script>
$(function() 
{
	update_orders_button();
});

</script>