<h2 value="123"></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
	  <th scope="col">Size</th>
      <th scope="col">Amount</th>
	  <th scope="col">Price</th>
	</tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
	<tr>
      <th scope="row">1</th>
      <td><%= p.title %></td>
      <td><%= p.description %>  </td>
      <td><%= p.size%> cm</td>
	  <td>Тут кол-во</td>
	  <td><%= p.price %> RUB</td>
	<tr>
	<% end %>
      <td colspan="4"></td>
      <td >
	  	<div style="float:right; width:25%;"><b>Total:</b></div>
	  </td>
	  <td><b>1200 RUB</b></td>
    </tr>
  </tbody>
</table>

<script>
$(function() 
{
	update_orders_button();
});

</script>