<!DOCTYPE>
<html>
    <h2>Welcome to Pizza Shop!</h2>
    
    <button class="btn btn-primary" onclick="something()">Click me!</button>

    <script>
    $(function() {
        update_orders_button();  
    });
    </script>
</html>